import(cowplot)
import(dplyr)
import(furrr)
import(future)
import(GA)
import(ggplot2)
import(progressr)
import(purrr)

export(block_obj_to_df)
export(block_summary)
export(block_var_funnel_plot)
export(compute_local_GEBV)
export(def_blocks)
export(format_plink_ld)
export(genetic_algorithm)
export(marker_effects_plot)
export(order_map)
export(pairwise_ld)
export(plot_haploblocks)
export(plot_ld_decay)
export(plot_marker_density)
export(plink_pairwise_ld)
export(unique_haplo_effects_plot)
export(solve_marker_effects)
export(compute_prediction_accuracy)
export(create_marker_effects_file)
export(n_fold_cross_validation)
export(cross_validation)
